


.about-us-text p{margin-bottom: 24px;}



/* media css starts here */
@media only screen and (min-width: 1300px){
    .about-us-main{padding: 6rem 0 8rem;}
    .about-us-title{max-width: 785px;}
    .about-us-row{gap: 60px;}
    .about-us-list{flex: 0 0 calc(50% - 30px);}
}
@media only screen and (max-width: 1299px) and (min-width: 768px){
    .about-us-main{padding: 6rem 0 8rem;}
    .about-us-title{max-width: 785px;}
    .about-us-row{gap: 32px;}
    .about-us-list{flex: 0 0 calc(50% - 16px);}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .about-us-main{padding: 0 0 4rem;}
    .about-us-title{padding-bottom: 4rem;}
    .about-us-row{gap: 32px;}
    .about-us-list{flex: 0 0 calc(50% - 16px);}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .about-us-main{padding: 3rem 0 4rem;}
    .about-us-title{padding-bottom: 4rem;}
    .about-us-title h2{margin-bottom: 1rem;}
    .about-us-row{display: block;}
    .about-us-list:not(:last-child){margin-bottom: 4rem;}
}
















